@{
}

@model List<Post>

@*burdan id yi o controllera yollıycaksın ana sayfayı viewleyen orda fonksiyon yaz gönderilen id ile metni bulcak olan ordan sayfaya bastırt*@

<ul>
    @foreach( var item in Model) //5 post döndürüyor burası 
    {
        <li> <a href="~/Home/GetPostsbyid/@item.Id"> <h5> @item.Title </h5> <span>@item.PublishDate</span>  </a> </li>
        <li> <a href="~/Home/GetPostsbyid/@item.Id"> <h5> @item.Title </h5> <span>@item.PublishDate</span>  </a> </li>
        <li> <a href="~/Home/GetPostsbyid/@item.Id"> <h5> @item.Title </h5> <span>@item.PublishDate</span>  </a> </li>
        <li> <a href="~/Home/GetPostsbyid/@item.Id"> <h5> @item.Title </h5> <span>@item.PublishDate</span>  </a> </li>
        <li> <a href="~/Home/GetPostsbyid/@item.Id"> <h5> @item.Title </h5> <span>@item.PublishDate</span>  </a> </li>
        
    }


</ul>



